.start-button {
    background-image: url("project://database/Assets/Textures/play_button.png?fileID=2800000&guid=96a3a5204115b954db94fed458de4905&type=3#play_button");
}

.start-button:active {
    background-image: url("project://database/Assets/Textures/play_button_pressed.png?fileID=2800000&guid=31b7676f278348449912075ced237b5f&type=3#play_button_pressed");
}

.quit-button {
    background-image: url("project://database/Assets/Textures/quit_button.png?fileID=2800000&guid=1969d8d7d1d6a3d4d99ba3d22b3858bd&type=3#quit_button");
}

.quit-button:active {
    background-image: url("project://database/Assets/Textures/quit_button_pressed.png?fileID=2800000&guid=f5d76542f46a25b4898d54c38b9fe637&type=3#quit_button_pressed");
}

.restart-menu {
    background-image: url("project://database/Assets/Textures/restart_button.png?fileID=2800000&guid=28722707da806fa4db490688225eea8c&type=3#restart_button");
}

.restart-menu:active {
    background-image: url("project://database/Assets/Textures/restart_button_pressed.png?fileID=2800000&guid=e94a8a4caf3a04e409f6c7928caa33c5&type=3#restart_button_pressed");
}

.menu-button {
    background-image: url("project://database/Assets/Textures/home_button.png?fileID=2800000&guid=8e179802c241c854980d58fd651cc27d&type=3#home_button");
}

.menu-button:active {
    background-image: url("project://database/Assets/Textures/home_button_pressed.png?fileID=2800000&guid=4b6120b12e4cbc14282bc8010f196a2b&type=3#home_button_pressed");
}
